
{% extends 'base.html' %}


{% block title %} Home {% endblock %}

{% block meta_tags %}

{% endblock %}

{% block navmenu %}
    {% include 'includes/menu.html' %}
{% endblock %}


{% load static %}

{% block content %}


<div class="body-wrap">
    
	<div class="container">
        <h1>Welcome</h1>
        
        <div class="row">
            <div class="col-md-2">
                <ul class="nav nav-pills" id="tabs">
                    <li>
                        <a class="nav-link active" id="v-pills-general-tab" data-toggle="pill" href="#v-pills-general" role="tab" aria-controls="v-pills-general" aria-selected="true">General</a>
                    </li>

                    <li>
                        <a class="nav-link" id="v-pills-statistics-tab" data-toggle="pill" href="#v-pills-statistics" role="tab" aria-controls="v-pills-statistics" aria-selected="true">Statistics</a>
                    </li>
                        
                </ul>
            </div>
            <div class="col-md-10">

                <div class="tab-content" id="v-pills-tabContent">
                    <div class="tab-pane fade show active" id="v-pills-general" role="tabpanel" aria-labelledby="v-pills-general-tab">
                        <div class="card">
                            <div class="card-body">
                                <p>
	                            	This section show members in descending order based on average score. The rank (<i class="fas fa-trophy"></i>) shows the order based on best to worst.
	                            </p>

                                {% if members|length == 0 %}

                                    <p>
                                        <strong>No members are added! <a href="/add">Add</a> one today.</strong>
                                    </p>

                                {% else %}
    	                            <table class="table">
    	                            	<thead>
                                            <th>Rank</th>
    	                            		<th>Full Name</th>
                                            <th>Date Occurred</th>
                                            <th>Average Score</th>
    	                            		<th>Actions</th>
    	                            	</thead>
    	                            	<tbody>
    			                            {% for member in members %}
    		                            		<tr>
                                                    <td>
                                                        <i class="fas fa-trophy"></i> {{forloop.counter}}
                                                    </td>
    		                            			<td>
    		                            				<p><a href="/member/{{member.id}}">{{member.fullname}}</a></p>
    		                            			</td>
    		                            			<td>
    		                            				{{member.date|date:'d/m/Y H:t a'}}
    		                            			</td>
                                                    <td>
                                                        {{member.averagescore}}
                                                    </td>
    		                            			<td>
    		                            				
                                                        {% if session_user_id == member.user_id %}

                                                            <a class="btn btn-sm btn-warning" href="/edit/{{member.id}}">Edit</a>

                                                            <form action="{% url 'index' %}" method="POST"> 
                                                                {% csrf_token %}

                                                                <input type="number" value="{{member.id}}" style="display: none;" name="delete_id">

                                                                <input type="submit" class="btn btn-sm btn-danger" name="delete_btn" value="Delete">
                                                            </form>

                                                        {% else %}

                                                            <p>You have no options!</p>

                                                        {% endif %}

    		                            			</td>
    		                            		</tr>
    			                            {% endfor %}
    		                            </tbody>
    	                            </table>
                                {% endif %}

                            </div>
                        </div>
                    </div>

                     <div class="tab-pane fade" id="v-pills-statistics" role="tabpanel" aria-labelledby="v-pills-statistics-tab">
                        <div class="card">
                            <div class="card-body">

                                <div class="alert alert-info">
                                    <p>
                                        Statistics show all details based on all member data.    
                                    </p>
                                    <p>
                                        <strong>None</strong> - means that no data is recorded and cannot compute any statistics.
                                    </p>
                                </div>

	                            <p>
                                    <strong>Total Members: </strong> {{members|length}}
                                </p>

                                <p>
                                    <strong>Max Average Score: </strong> {{members_avgs_max.averagescore__max}}
                                </p>
                                <p>
                                    <strong>Mean  Average Score: </strong> {{members_avgs_mean.averagescore__avg}}
                                </p>
                                <p>
                                    <strong>Max Average Score: </strong> {{members_avgs_min.averagescore__min}}
                                </p>


                                <p>
                                    <strong>Max Wins: </strong> {{members_wins_max.wins__max}}
                                </p>
                                <p>
                                    <strong>Mean Wins: </strong> {{members_wins_mean.wins__avg}}
                                </p>
                                <p>
                                    <strong>Max Wins: </strong> {{members_wins_min.wins__min}}
                                </p>


                                <p>
                                    <strong>Max Losses: </strong> {{members_losses_max.losses__max}}
                                </p>
                                <p>
                                    <strong>Mean Losses: </strong> {{members_wins_mean.wins__avg}}
                                </p>
                                <p>
                                    <strong>Max Losses: </strong> {{members_losses_min.losses__min}}
                                </p>


                                <p>
                                    <strong>Max Highest Score: </strong> {{members_highestscore_max.highestscore__max}}
                                </p>
                                <p>
                                    <strong>Mean Highest Score: </strong> {{members_highestscore_mean.highestscore__avg}}
                                </p>
                                <p>
                                    <strong>Max Highest Score: </strong> {{members_highestscore_min.highestscore__min}}
                                </p>

                                <p>
                                    <strong>Recent Submission: </strong> {{recent_submission.date__max}}
                                </p>

                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        $('#tabs a').click(function(e) {
          e.preventDefault();
          $(this).tab('show');
        });

        // store the currently selected tab in the hash value
        $("ul.nav-pills > li > a").on("shown.bs.tab", function(e) {
          var id = $(e.target).attr("href").substr(1);
          window.location.hash = id;
        });

        // on load of the page: switch to the currently selected tab
        var hash = window.location.hash;
        $('#tabs a[href="' + hash + '"]').tab('show');

        $(".nav-pills li").css('width','100%');
    </script>
       
</div>



{% endblock %}