

{% extends 'base.html' %}


{% block title %}Sign In{% endblock %}


{% block meta_tags %}

{% endblock %}


{% block navmenu %}
	{% include 'includes/menu.html' %}
{% endblock %}

{% load static %}


{% block content %}

<div class="container body-wrap">
	<div class="row">
		<div class="col-md-3 card-body"></div>
		<div class="col-md-6 card-body">
			<div class="card">
				<div class="card-body">
					<h1>Sign In</h1>
					<form action="{% url 'login' %}" method="POST">
						{% csrf_token %}

						<input required class="form-control" placeholder="Email *" type="email" name="email">
						<br />

						<input required  class="form-control" placeholder="Password *" type="password" name="password">
						<br />

						<div class="text-center">
							<!-- <small>By signing in, you will agree the <a href="privacy">Privacy Policy</a> and the <a href="tos">Terms and Conditions</a>.</small> -->
							<!-- <br /> -->
							<small><a href="register">Not a member? Sign up today.</a></small>
						</div>
						<br />

						<div class="text-center">
							<input class="btn btn-dark" type="submit" value="Sign In">
						</div>
					</form>

					{% if message != None %}
						<br />
						<p style="color: red;" class="text-center">{{message}}</p>
					{% endif %}
				</div>
			</div>
		</div>
		<div class="col-md-3 card-body"></div>
	</div>
</div>


{% endblock %}