
{% load static %}



<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/bootstrap-social.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'bootstrap/bootstrap.min.css' %}">

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">


<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">


<style type="text/css">

  html, body
  {
    background-color: #fff;
  }

  @media (max-width:768px) {
    .desktop-paginate {
      display: none;
    }

    .landing-page-img
    {
      height: 400px;
    }
  }

  .carousel-inner img {
    margin: auto;
  }

  .tag
  {
    font-size: 18px;
  }

  a
  {
    text-decoration: none;
  }

  a:hover
  {
    color: grey;
  }

  .badge
  {
      font-weight: normal;
  }

  button, input[type=button], input[type=submit]
  {
    text-decoration: none;
    text-transform: capitalize;
  }

  ul,li p
  {
      text-transform: capitalize;
      margin-top: 0; 
      margin-bottom: 0;
  }

  .product-columns img
  {
    width: 100%; 
    height: auto;
  }

  h1
  {
      font-size: 32px;
  }

  h2
  {
      font-size: 22px;
  }

  h3
  {
      font-weight: bold;
      font-size: 22px;
  }

  p,li
  {
      font-size: 18px;
  }

  .landing-icon
  {
      font-size: 62px;
  }

</style>


